@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@0;1&family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #05112C;
}

body {
    font-family: 'Old Standard TT', serif;
    font-family: 'Oswald', sans-serif;
    background: #3E92CC;
    max-width: 1280px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: center;
    background: #FFFAFF;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

header img {
    filter: drop-shadow(0px 0px 2px #3E92CC);
    width: 100%;
}

header img:hover {
    filter: drop-shadow(0px 0px 4px #D8315B)
}

main {
    background: #FFFAFF;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 1rem;
}

h2 {
    padding-left: 2rem;
    padding-top: 2rem;
}

ul {
    list-style-type: none;
    padding: 2rem;
}

li img {
    width: 100%;
}

.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
}

.gridItem {
    background: #E5E1E5;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgb(204, 204, 204);
}

.gridItem:hover {
    box-shadow: 0px 0px 10px rgb(136, 136, 136);
}

.gridItem h3 {
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

footer {
    display: flex;
    background: #FFFAFF;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}